<div class="row" *ngIf="employee">
    <h4>Tasks for {{ employee.firstName | capitalize }} {{ employee.lastName | capitalize }}</h4>
    <br />
    <table class="table table-striped table-hover tasks-table" >
        <tr *ngFor="let taskItem of filteredTasks;trackBy:taskItemTrackBy">
            <td>{{taskItem.title}}</td>
            <td>{{taskItem.description}}</td>
            <td>{{taskItem.dueDate | date}}</td>
        </tr>
    </table>
</div>
<div *ngIf="!employee" class="row">
   No employee found
</div>  