<div class="container">
    <div class="row card-container">
        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let employee of employees;trackBy:trackby.employee">
            <div class="card">
                <div class="card-header">
                    <a [routerLink]="['/employees',employee.id,'details']" class="white">
                        {{employee.firstName | capitalize }} {{ employee.lastName | capitalize }} 
                    </a>
                    <a [routerLink]="['/employees',employee.id,'edit']">
                        <i title="Edit"  
                           class="pull-right glyphicon glyphicon-edit edit-icon white"></i>
                    </a>
                </div>
                <div class="card-body">
                    <div class="clearfix">
                        <div class="pull-left card-body-left">
                            <a href="#" class="white">
                                <img src="images/{{employee.gender | lowercase}}.png" class="card-image" />
                            </a>
                        </div>
                        <div class="pull-left card-body-right">
                            <div class="card-body-content">{{employee.city | trim }}</div>
                            <a [routerLink]="['/employees',employee.id,'tasks']">View Tasks</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!employees.length">
            No Records Found
        </div>
    </div>
</div>